{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block context %}

<style type="text/css">
a:link { text-decoration: none;}
a:link {color: black} /* 未访问的链接 */
a:visited {color: black} /* 已访问的链接 */
a:hover {color: gray}
</style>

<link rel="stylesheet" href="{% static 'blog/css/github-markdown.css' %}">
<article class="markdown-body">
    <h3>About Me</h3>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'blog/images/me.jpg' %}" class="img-rounded" alt="Home" width="150" height="150">
        <ul>
            <li><h5>Undergraduate/Yangzhou University/Computer Science</h5></li>
            <li><h5>Blog：<a target="_blank" href="http://sshoop.top">sshoop</a></h5></li>
            <li><h5>Github：<a target="_blank" href="http://github.com/sshoop">sshoop</a></h5></li>
        </ul>

    <h3>Contact Me</h3>
        <ul>
            <li><h5>Email：2sh2op@gmail.com</h5></li>
            <li><h5>WeChat：ssh001</h5></li>
        </ul>

</article>


{% endblock %}