<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/colorful.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.css' %}">
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/98989/42391/58b2a8b7f629d810d49c7cde.css' rel='stylesheet' type='text/css' />
    <link rel="icon" href="{% static 'blog/images/zebra.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'blog/images/zebra.ico' %}" type="image/x-icon" />
  </head>

  <style>
    a:link { text-decoration: none;}
    a:link {color: black} /* 未访问的链接 */
    a:visited {color: black} /* 已访问的链接 */
    a:hover {color: gray}

    a.brand:link {color:  #1874CD} /* 未访问的链接 */
    a.brand:visited {color:  #1874CD} /* 已访问的链接 */
  </style>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>

          <div class="col-md-8">
            <div class="row">
              <div class="header ">

                  <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{% url 'blog:index' %}" >Blog</a></li>
                    <li role="presentation"><a href="{% url 'blog:archive' %}" >Archive</a></li>
                    <li role="presentation"><a href="{% url 'about' %}" >About</a></li>
                  </ul>

                <h2 class="text-muted"   style="font-family:'Superhelioregul91f0c5404182ad';"><a href="{% url 'home' %}" class="brand">sshoop</a></h2>
              </div>
              <hr />
            </div>

            {% block context %}

            {% endblock %}
            <div class="row">
              <hr/>
              <div class="text-center">
                <p class="copyright text-muted">&nbsp;&nbsp; Copyright &copy;2016-2017 by sshoop</p>
              </div>
            </div>
          </div>

        <div class="col-md-2"></div>
      </div>
    </div>
  </body>

</html>
