<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="script" href="{% static 'blog/js/bootstrap.min.js' %}">
    <link rel="shortcut icon" href="{% static 'blog/img/zebra.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="my-content">

                    {% block context %}
                    {% endblock %}

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>
