<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/colorful.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
    <script src="https://use.fontawesome.com/c46c4d0945.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="header ">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'blog:index' %}">Blog</a></li>
            <li role="presentation"><a href="#">About</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">sshoop</h2>
      </div>
      <hr />
      {% block context %}

      {% endblock %}

    </div>
    <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  -->
  </body>
</html>