{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block context %}

<style type="text/css">
h3 {text-decoration: underline;text-align: center}
</style>

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="{% static 'blog/images/rr.jpg' %}" class="img-rounded" alt="Home" width="300" height="300">
        <br/> <br/>
      <h2 class="text-center">Hello World!</h2>
      <br/>
      <h4 class="text-left">
        OpenSource&nbsp;&nbsp;&nbsp;&nbsp;Django&nbsp;&nbsp;&nbsp;&nbsp;Java&nbsp;&nbsp;&nbsp;&nbsp;C++&nbsp;&nbsp;&nbsp;Linux
      </h4>

      <br/> <br/><br/> <br/><br/> <br/>
      <!--
      <P>
        <h3 class="text-center">Contact Me</h3>
      </P>
      -->
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a class="fa fa-github fa-2x" href="https://github.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-weibo fa-2x" href="http://weibo.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-weixin fa-2x" href="http://weibo.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-facebook fa-2x" href="#" aria-hidden="true"></a>
      </p>

    </div>

    <div class="col-md-4"></div>
  </div>
{% endblock %}

