{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block context %}

<style type="text/css">
h3 {text-decoration: underline;text-align: center}
</style>

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <img src="{% static 'blog/images/rr.jpg' %}" class="img-rounded" alt="Home" width="250" height="250">
      <br/> <br/>
       <div class="inner cover">
            <h1 class="cover-heading">Hello World!</h1>
            <p class="lead">
              My name is sshoop, a college student studying in Yangzhou University, majoring in CS.
                 And I like OpenSource.
            </p>
            <p class="lead">
              <a href="{% url 'blog:index' %}" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
      <br/> <br/><br/> <br/><br/> <br/>
      <!--
      <P>
        <h3 class="text-center">Contact Me</h3>
      </P>
      -->

      <p>
        <a class="fa fa-github fa-2x" href="https://github.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-weibo fa-2x" href="http://weibo.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-weixin fa-2x" href="http://weibo.com/sshoop" aria-hidden="true"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="fa fa-facebook fa-2x" href="#" aria-hidden="true"></a>
      </p>

    </div>

    <div class="col-md-4"></div>
  </div>
{% endblock %}

