{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Blog{% endblock %}
{% block context %}
<style>
a.category:link { text-decoration: none;}
a.category:link {color: gray} /* 未访问的链接 */
a.category:visited {color: gray} /* 已访问的链接 */
a.category:hover {color: black}


a.title:link {color: black} /* 未访问的链接 */
a.title:visited {color: black} /* 已访问的链接 */
a.title:hover {color: black;text-decoration: underline;}
</style>


    <div class="row" style="margin-left:1px;margin-right:1px;">

                {% for article in article_list %}

                <h5 style="margin-top: 20px;">
                    <a class="title" href="{% url 'blog:detail' article.pk %}">
                        {{ article.article_title }}
                    </a>
                    <span style="float:right;">
                    {{ article.article_create_time|date:"Y-m-d" }}
                    </span>

                </h5>

                {% endfor %}

<!--
            {% if SearchForm %}
            <br /><br /><br /><br />

                <form method="get" action="{% url 'blog:search' %}">
                    {{ SearchForm }}
                </form>

            {% endif %}
                {% for category in category_list %}
                    <a class="category" href="{% url 'blog:category' category.id %}">{{ category.category_name }} / </a>
                {% endfor %}
-->
    </div>

{% endblock %}
