{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block context %}

<!-- 展示博客首页文章 -->
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <ol class="breadcrumb">
                分类：{% for category in category_list %}
                    <li><a href="{% url 'blog:category' category.id %}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ol>

            {% block article %}
                {% for article in article_list %}
                    <h3 class="blog-post-title">{{ article.article_title }}</h3>
                    <p class="text-left">{{ article.article_create_time }}</p>
                    <h4 class="blog-post-title">{{ article.article_abstract }}</h4>
                    <br/>
                    <a href="{% url 'blog:detail' article.pk %}">
                        <p class="text-right">继续阅读>></p>
                    </a>
                    <hr />
                {% endfor %}
            {% endblock %}
        </div>

        <div class="col-md-4">
            {% block tag %}
                <br /> <br />
                <h4>Tags:</h4>
                <ul class="nav nav-pills" role="tablist">
                    {% for tag in tag_list %}
                        <li role="presentation">
                            <a href="{% url 'blog:tag' tag.pk %}">{{ tag.tag_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <br />
                <hr />
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
