{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% block title %}Blog{% endblock %}
{% block context %}

<style type="text/css">
a:link { text-decoration: none;}
a:link {color: black} /* 未访问的链接 */
a:visited {color: black} /* 已访问的链接 */
a:hover {color: gray}
</style>

<link rel="stylesheet" href="{% static 'blog/css/github-markdown.css' %}">
<article class="markdown-body">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h3 class="blog-post-title-right">
          <p class="text-center">{{ article.article_title }}</p>
        </h3>
        <p class="text-right">

             {{ article.article_create_time }}

        </p>
        <hr />
        <br/>
        <div class="post-bd">
          <!-- safe 将django的html自动转义关闭 -->
          {{ article.article_text |safe }}
        </div>
        <hr /><br/><br/>
        <!--{% include 'blog/comment.html' %}  -->

        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2114747"></script>
        <!-- UY END -->


<div id="SOHUCS" ></div>
<script type="text/javascript">
(function(){
var appid = 'cyt17fGXF';
var conf = 'prod_4871ce18acf1172a02bf26992b0ddf2e';
var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>





      </div>
    </div>
  </div>
</article>

{% endblock %}
