<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sonp</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}">
    <link rel="script" href="{% static 'blog/js/bootstrap.min.js' %}">
    <link rel="shortcut icon" href="{% static 'blog/img/zebra.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">

        <div class="col-md-2"></div>
        <div class="col-md-8">

            <header class="my-header">
                    <div class="header-title"></div>
                    <div class="logo">
                            <ul>
                                <li class="img-li"><img src=http://oecyqm8uf.bkt.clouddn.com/mlao_1.jpg> </li>
                                <li class="img-li"><img src=http://oecyqm8uf.bkt.clouddn.com/atman_1.jpg> </li>
                                <li class="img-li"><img src=http://oecyqm8uf.bkt.clouddn.com/atmu_5.jpg> </li>
                            </ul>
                    </div>
                    <nav>
                        <ul>
                            <li class="ge-li"><a href="{% url 'blog:index' %}">Index</a></li>

                            <li class="ge-li"><a href="{% url 'blog:archive' %}">Arch</a></li>
                            <li class="sp-li"><a href="{% url 'blog:more' %}">More</a></li>
                        </ul>
                    </nav>

                </header>



            <div class="my-content">

                {% block context %}
                {% endblock %}

            </div>

            <footer class="my-footer">

                <div class="find">
                    <div class="find-link">
                        <a href="#" target="_blank">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">

                            <i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-weixin fa-2x" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <p>Copyright © 2016-2018 by sonp</p>
                <p id="secret">一辈子很短，如白驹过隙，转瞬即逝 ，可这种心情很长，如高山大川，绵延不绝。</p>
            </footer>

        </div>
        <div class="col-md-2"></div>

    </div>
</body>
</html>