{% extends 'blog/blog_base.html' %}
{% load staticfiles %}
{% block context %}

    {% for article in article_list %}

        <article>
            <h3 class="article-title">
                <a href="{% url 'blog:detail' article.pk %}">
                    {{ article.article_title }}
                </a>
            </h3>

            <div class="article-info">
                <img src="{% static 'blog/img/date.svg' %}">
                <span>
                    {{ article.article_create_time.year}}.
                    {{ article.article_create_time.month}}.
                    {{ article.article_create_time.day}}
                </span>
                <img src="{% static 'blog/img/category.svg' %}">
                <a href="{% url 'blog:category' article.article_category.id %}">
                    <span>{{ article.article_category }}</span>
                </a>
             </div>

            <div class="article-abstract">
                {{ article.article_abstract |safe }}
            </div>


        </article>

    {% endfor %}

{% endblock %}
