<span class="label label-info">评论详情</span>
{% for comment in comment_list %}
    <hr />
    <h5>{{ comment.comment_name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.comment_create_time }}</h5>
    <li class="list-group-item list-group-item-info">{{ comment.comment_text }}</li>
    <hr />
{% endfor %}
<form method="post" action="{% url 'blog:comment' article.pk %}">
{% csrf_token %}
    <div class="row">
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <br />
        {% endfor %}
    </div>
    <br />
    <p class="text-right">
        <button type="button" class="btn btn-primary">评论</button>
    </p>
</form>




